* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    transition: .3s ease;
    scroll-behavior: smooth;
    background-color: #fdfafa;
}
/* CABECALHO */
#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    margin-bottom: 50px;
    background-color: #FFF;
}
.titulo {
    padding: 25px;
    font-size: 40px;
    font-weight: bold;
}
.links {
    margin-right: 5rem;
}
#cabecalho ul{
    list-style: none;
     display: flex;
     gap: 50px;
}
#cabecalho ul li{
    cursor: pointer;
    background-color: #8c8a8a;
    padding: 20px;
    transition: .3s;
}
#cabecalho ul li:hover{
background-color: #565454;
}
.itens {
    text-decoration: none;
    color: #000;
    font-size: 28px;
}

/* APRESENTACAO */
#apresentacao {
    display: flex;
    margin: 0 auto;
    gap: 40px;
}
.imagem {
    width: 700px;
    padding-left: 20px;
}
img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}
.coluna2 {
    place-content: center;
}
.titulo-apresentacao {
    font-size: 100px;
    max-width: 50%;
    position: relative;
}
.titulo-apresentacao::before{
    content:"";
    position: absolute;
    background-color: #e4f902;
    width: 10rem;
    height: 28px;
    top:40px;
    left:-30px;
    z-index:-1;
    transform: rotate(-45deg);
}
.titulo-apresentacao::after{
    content:"";
    position: absolute;
    background-color: #61f902;
    width: 10rem;
    height: 25px;
    top:50px;
    left:-75px;
    z-index:-1;
    transform: rotate(-45deg);
}
.subscricao{
    font-size: 25px;
    color: #8c8a8a;
}
/*EXPERIENCIA */
#experiencia{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    margin: 10rem 0;
    position: relative;
}
.titulo-experiencia{
    font-size: 120px;
    color:#c5c1c1;
    text-transform: uppercase;
    padding: 25px;
    overflow-wrap: break-word;
    max-width: 550px;
}
.container-experiencia{
    display: grid;
    grid-template-columns: 100px 1fr;
}
.explicacao{
    font-size: 28px;
    padding: 20px;
    max-width: 700px;
    font-weight: 500;
    grid-column: 2/-2;
}
.utensilios,.utensilios-2,.utensilios-3{
    display: grid;
    grid-template-columns: 500px 500px;
    background-color: #f4f0f0;
    padding: 30px;
    gap:20px ;
    margin-bottom: 20px;
}
.demostracao-coluna1 p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
}
.demostracao-coluna2 p{
    color: #000;
    background-color: #fff;
    font-weight: 600;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}
.datas{
    margin: 45px 0 0 20px;
}
 .before::before,.before-2::before,.before-3::before{
    content: "";
    width: 30px;
    height: 4px;
    position: relative;
    background-color: #61f902;
    top: 45px;
    left: -17px;
    transform: rotate(90deg);
    display: inline-block;
} 
/* FORMACAO */
#formacao{
    display: flex;
    flex-wrap: wrap;
    background-color: #252323;
    filter: brightness(1);
    gap: 16rem;
    padding: 25px;
}
.titulo-formacao{
    font-size: 140px;
    text-transform: uppercase;
    padding: 25px;
    overflow-wrap: break-word;
    max-width: 530px;
}
.explicacao-formacao{
    font-size: 28px;
    padding: 20px;
    color: #c5c1c1;
    max-width: 700px;
    font-weight: 500;
    margin-bottom: 25px;
}
.branco{
    color:#fff;
}
.formacoes{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 3rem;
}
.itens-formacoes,.itens-formacoes2,.itens-formacoes3{
    background-color: #000;
    color:#c5c1c1;
    padding: 25px;
    line-height: 30px;
    height: 200px;
    width: 270px;
    margin: 0 30px 0 17px;
    border-radius: 5px;
}
.f1 h3{
    color: #fff;
    font-size: 28px;
    overflow-wrap: break-word;
    padding: 15px 0;
}
.f1 h5{
    padding: 15px 0 0 0;
    font-size: 20px;
}
.itens-formacoes::before{
    content: "";
    width: 30px;
    height: 5px;
    position: absolute;
    transform: rotate(90deg);
    top:45%;
    background-color: #61f902;
    left:0%;
}
.itens-formacoes2::before{
    content: "";
    width: 30px;
    height: 5px;
    position: absolute;
    transform: rotate(90deg);
    background-color: #61f902;
    top:45%;
    left: 33.5%;
}
.itens-formacoes3::before{
    content: "";
    width: 30px;
    height: 5px;
    position: absolute;
    transform: rotate(90deg);
    background-color: #61f902;
    top: 45%;
    left:67%;
}
/* CURSOS */
.cursos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.explicando-cursos p,.horas-cursos,.explicando-cursos2{
    font-size: 22px;
    color: #8c8a8a;
}
.fas.fa-book,.fa-solid.fa-language{
    font-size: 25px;
    color: #61f902;
}
.nomes-cursos,.nomes{
    color: #fff !important;
    font-size: 25px;
    padding: 15px 0;
}
.horas-cursos{
     padding-top: 25px;
     margin-bottom: 30px;
}
.horas-cursos p{
    padding: 14px 0;
}
.cinza{
    color: #8c8a8a !important;
}
/* CONTATOS */
#contatos{
    background-color: #000;
    position: relative;
    height: 600px;
}
.espaco{
    display: flex;
    justify-content: space-evenly;
    padding: 12rem 4rem 4rem 4rem;
    gap: 80px;
}
#contatos::before{
    content:"";
    position: absolute;
    background-color: #e4f902;
    width: 10rem;
    height: 28px;
    top:-15px;
    left:80px;
    transform: rotate(-45deg); 
}
#contatos::after{
    content:"";
    position: absolute;
    background-color: #61f902;
    width: 10rem;
    height: 25px;
    top:-5px;
    left:35px;
    transform: rotate(-45deg);
}
.mensagem-contatos{
    color: #c5c1c1;
    font-size: 35px;
    width: 450px;
}
.redes-socias{
    color: #FFF;
    font-size: 35px;
}
.redes{
    padding-top: 15px;
}
.fas.fa-envelope,.fa.fa-phone,.fab.fa-instagram{
    color: #61f902;
    padding-right: 15px;
}
.bgcolor{
    background-color: #252323;
    width: 100%;
}
/* RESPONSIVIDADE */
@media (max-width:700px){
    #cabecalho ul{
        gap: 20px;
        padding-left: 20px;
    }
    .titulo-apresentacao{
        font-size: 60px;
        overflow-wrap: break-word; 
        max-width: 90%;
    }
    .titulo-apresentacao::before{
        top:20px;
        left: -50px;
    }
    .titulo-apresentacao::after{
        top: 10px;
    }
    .coluna2{
        padding: 20px;
    }
    .imagem img{
        max-width: 90%;
    }
    #apresentacao{
        flex-wrap: wrap;
    }
    #experiencia{
        gap:1rem;
        margin: 3rem 0;
    }
    .demostracao-coluna1,.demostracao-coluna2{
        max-width: 100%;
    }
    .demostracao-coluna1 h2,.demostracao-coluna2 h2{
        margin-bottom: 20px;
    }
    .titulo-experiencia{
        font-size: 40px;
        padding-right: 0 !important;
        text-transform: lowercase;
    }
    .container-experiencia{
        grid-template-columns: 90%;
        justify-content: center;
    }
    .before::before, .before-2::before, .before-3::before{
        left: 0;
    }
    .utensilios,.utensilios-2,.utensilios-3{
        grid-template-columns: 100%;
    }
    #formacao{
       max-width: 80%;
       gap: 0;
    }
    .formacoes{
        gap: 20px;
    }
    .titulo-formacao{
        max-width: 360px;
        font-size: 60px;
        text-transform: lowercase;
    }
    .horas-cursos p{
        margin-top: 40px;
    }
    .itens-formacoes::before{
        top:5%;
        left: 0%;    }

    .itens-formacoes2::before{
         top:40%;
        left: 0%;
    } 
    .itens-formacoes3::before{
        left: 0%;
        top: 73%;
    }
    .cursos{
        gap:35px
    }
    #contatos{
        height: 100%;
        width: 100%;
    }
    #contatos::before{
        top:7px;
        left: -0px;
    }
    #contatos::after{
        top:20px;
        left: -50px;
    }
    .espaco{
        max-width: 90%;
        flex-wrap: wrap;
    }
    .redes-socias{
        font-size: 17px;
    }
    #cabecalho ul li{
        padding: 13px;
        font-size: 15px;
    }
    .itens{
        font-size: 20px;
    }
}